.header-overlay::before,
.header-overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.header-overlay{
  border-bottom: 5px solid #006DA8;
}

.header-content {
    position: relative;
    z-index: 1;
}

.headerLogo{
  text-shadow: 3px 3px 8px #1572b6;
}

.line{
  background-color: #1572b6;
}

.jumboHeader, .jumboPara, .fa-x-twitter, .fa-github, .fa-linkedin, .fa-envelope{
  text-shadow: 2px 2px 6px #000000;
}

.resButton{
  background-color: #00456A;
}

.Skills{
  background-color: #6F777C;
}

.About{
 background-color: #00456a;
}

.Portfolio{
  background-color: white;
  
}

.contact{
  background-color: #00456A;
}

.cardButton:hover{
  background-color: #00456A;
  color: white;
}

.borderBar{
  cursor: pointer;
}

.open .barOne {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);

  }
  
  .open .barTwo {
    opacity: 0;

  }
  
  .open .barThree {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }

 
  .fa-html5{
    color: #e34f26;
  }

.fa-css3-alt{
  color: #1572b6;
}
.fa-js{
  color: #f7df1e;
}

.fa-react{
  color: #61dbfb;
}

.fa-node-js{
  color: #8cc84b;
}

.fa-sass{
  color: #c76395;
}
  

.tailwind{
  width: 20px;
}

.Greetings{
  background-color: rgba(0, 0, 0, 0.6);
}

.cardInfo{
  background-color: rgb(255, 255, 255);
  
}

.card{
  height: 100%;
  box-sizing: border-box;
}

.portHeader{
  color: #00456A;
  text-shadow: 2px 2px rgb(21,114,182);
 
}

.aboutHeader, .contactHeader, .edHeader, .techHeader{
  text-shadow: 2px 2px black;
}




@media only screen and (max-width: 640px) {

  .jumbo img{
    height: 500px;
    object-fit: cover;
}

.aboutImg{
  width: 300px;
}

}

@media only screen and (min-width: 641px) {

  .jumbo img{
    height: 700px;
    object-fit: cover;
}

.aboutImg{
  width: 350px;
}

.card{
  max-width: 600px;
}
  
}

@media only screen and (min-width: 768px) {

  .jumbo img{
    height: 800px;
}
  
  .skillCards{
    width: 480px;
  }
  
  .cardSection{
    width: 768px;
  }

 
}

@media only screen and (max-width:1024px){
  .nav-menu{
    height: 0px; 
  }
  
  .nav-menu.open{
    width: 100%;
    height: 90vh; 
    position: absolute;
    display: block;
    margin-top: 15px;
    left: 0;
    background-color: #6F777C;  
  }
  
}


@media only screen and (min-width: 1024px) {



.aboutImg{
  width: 400px;
}

.skillCards, .education{
  width: 1000px;
}

.cardSection{
  width: 1024px;
}

.hamburger{
  display: none;
}

  
}

@media only screen and (min-width: 1280px) {




.skillCards, .education{
  width: 1200px;
}

.cardSection{
 width: 1280px;
}

.tailwind{
  width: 30px;
}
  
}


  @media only screen and (min-width: 1536px) {

    .aboutImg{
      width: 450px;
    }

    .skillCards, .education{
      width: 1400px;
    }

    .cardSection{
      width: 1536px;
     }

    .line{
      max-width: 1400px;
    }

    .card{
      max-width: 700px;
    }

  }

  @media only screen and (min-width: 2040px) {

    .max{
      width: 2000px;
      margin: 0 auto;
     
    }
  }